
<%- include('../partials/head.ejs') %>


<%- include('../partials/userHeader.ejs') %>
        <!-- mini cart start -->
        <div class="sidebar-cart-active">
            <div class="sidebar-cart-all">
                <a class="cart-close" href="#"><i class="icon_close"></i></a>
                <div class="cart-content">
                    <h3>Shopping Cart</h3>
                    <ul>
                        <li class="single-product-cart">
                            <div class="cart-img">
                                <a href="#"><img src="assets/images/cart/cart-1.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Simple Black T-Shirt</a></h4>
                                <span> 1 × $49.00	</span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                        <li class="single-product-cart">
                            <div class="cart-img">
                                <a href="#"><img src="assets/images/cart/cart-2.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Norda Backpack</a></h4>
                                <span> 1 × $49.00	</span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                    </ul>
                    <div class="cart-total">
                        <h4>Subtotal: <span>$170.00</span></h4>
                    </div>
                    <div class="cart-checkout-btn">
                        <a class="btn-hover cart-btn-style" href="cart.html">view cart</a>
                        <a class="no-mrg btn-hover cart-btn-style" href="checkout.html">checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area bg-gray" style="    margin-top: 190px">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">Cart Page </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cart-main-area pt-115 pb-120">
            <div class="container">
                <h3 class="cart-page-title">Your cart items</h3>
                <div class="row" style="text-align: center;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    
                            <div class="table-content table-responsive cart-table-content">
                                <% 
                                let totalPrice = 0
                                
                                let currPrice
                                if(cartItems.length){
                                    %>


                               
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product Name</th>
                                            <th>Unit Price</th>
                                            <th>Quantity</th>
                                            <th>Subtotal</th>
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% 
                                        
                                        for(let i=0; i<cartItems.length; i++){
                                            
                                            %> 
                                            <tr>
                                                <td class="product-thumbnail">
                                                    <a href="#"><img src="/assets/images/productImages/<%= cartItems[i].productId.images[0] %>" alt="product image" class="img-fluid" style="width: 89px;height: auto;"></a>
                                                </td>
                                                <td class="product-name"><a href="#"><%= cartItems[i].productId.name %></a></td>
                                                <%= //currPrice = cartItems[i].productId.price - cartItems[i].productId.discountPrice  %>
                                                <td class="product-price-cart">
                                                    <span class="amount">  <%= cartItems[i].productId.price%></span></td>
                                                <!-- <td class="product-quantity pro-details-quality"> -->
                                                  
                                                    <!-- <div class="cart-plus-minus">
                                                        <input class="cart-plus-minus-box" type="text" name="qtybutton" value="<%=//cartItems[i].quantity  %>">
                                                    </div> -->
                                                    <td class="quantity__item">
                                                        <div class="text-nowrap">
            
                                                            <button id="<%= cartItems[i]._id %>minus"
                                                                    onclick="updateCart(-1,'<%= cartItems[i].productId._id%>','<%= cartItems[i]._id %>')">
                                                                    -
                                                            </button>
            
                                                            <span class="mx-2 quantity"  id="<%= cartItems[i]._id %>" data-max-quantity="<%= cartItems[i].productId.quantity %>">
                                                                <%= cartItems[i].quantity %>
                                                            </span>
            
                                                            <button id="<%= cartItems[i]._id %>plus"
                                                                onclick="updateCart(1,'<%= cartItems[i].productId._id%>','<%= cartItems[i]._id %>')">
                                                                +
                                                            </button>
                                                            <br>
                                                            <span style="color: red;" id="<%= cartItems[i]._id %>msg"></span>
            
                                                        </div>
                                                      
        
                                                    </td>
                                                </td>
                                                <td class="product-subtotal" id="total<%= cartItems[i]._id %>" class="cart__price">&#8377;<%=cartItems[i].productId.price*cartItems[i].quantity  %></td>
                                                <%  totalPrice += cartItems[i].productId.price*cartItems[i].quantity %>
                                                <td class="product-remove" >
                                                    <form action="/shoppingCart/removeItems/<%= cartItems[i].productId._id %>" method="post">
                                         <button type="submit"><i class="icon_close" ></i></button> 
                                                </form>
                                                </td>
                                            </tr>
                                            
                                            <%  
                                        }

                                        %>
                                        

                                 <%
                                }else{
                                    %>

                                    <tr>
                                        <td>
                                            <h5> <strong> Add items to the cart</strong> </h5>
                                            <img src="/assets/images/extra/cartempty.gif" class="img-fluid" style="width: 372px; height: auto;" alt="Cart Empty Image">
                                        </td>
                                    </tr>

                              <%  
                            }
                              %>
                                        <!-- <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="assets/images/cart/cart-2.jpg" alt=""></a>
                                            </td>
                                            <td class="product-name"><a href="#">Norda Simple Backpack</a></td>
                                            <td class="product-price-cart"><span class="amount">$150.00</span></td>
                                            <td class="product-quantity pro-details-quality">
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                                </div>
                                            </td>
                                            <td class="product-subtotal">$150.00</td>
                                            <td class="product-remove">
                                                <a href="#"><i class="icon_close"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="assets/images/cart/cart-1.jpg" alt=""></a>
                                            </td>
                                            <td class="product-name"><a href="#">Simple Black T-Shirt </a></td>
                                            <td class="product-price-cart"><span class="amount">$170.00</span></td>
                                            <td class="product-quantity pro-details-quality">
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
                                                </div>
                                            </td>
                                            <td class="product-subtotal">$170.00</td>
                                            <td class="product-remove">
                                                <a href="#"><i class="icon_close"></i></a>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="cart-shiping-update-wrapper">
                                        <div class="cart-shiping-update">
                                            <a href="/shop">Continue Shopping</a>
                                        </div>
                                        <!-- <form action="/shoppingCart/removeItems/<%= cartItems._id %>" method="post">
                                        <div class="cart-clear">
                                             <button type="submit" >Update Cart</button> -->
                                            <!-- <a href="">Clear Cart</a>
                                        </div>
                                    </form> -->
                                    </div>
                                </div>
                            </div>
                  
                        <div class="row">
                            <!-- <div class="col-lg-4 col-md-6">
                                <div class="cart-tax">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gray">Estimate Shipping And Tax</h4>
                                    </div>
                                    <div class="tax-wrapper">
                                        <p>Enter your destination to get a shipping estimate.</p>
                                        <div class="tax-select-wrapper">
                                            <div class="tax-select">
                                                <label>
                                                    * Country
                                                </label>
                                                <select class="email s-email s-wid">
                                                    <option>Bangladesh</option>
                                                    <option>Albania</option>
                                                    <option>Åland Islands</option>
                                                    <option>Afghanistan</option>
                                                    <option>Belgium</option>
                                                </select>
                                            </div>
                                            <div class="tax-select">
                                                <label>
                                                    * Region / State
                                                </label>
                                                <select class="email s-email s-wid">
                                                    <option>Bangladesh</option>
                                                    <option>Albania</option>
                                                    <option>Åland Islands</option>
                                                    <option>Afghanistan</option>
                                                    <option>Belgium</option>
                                                </select>
                                            </div>
                                            <div class="tax-select">
                                                <label>
                                                    * Zip/Postal Code
                                                </label>
                                                <input type="text">
                                            </div>
                                            <button class="cart-btn-2" type="submit">Get A Quote</button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                         
                            <div class="col-lg-4 col-md-12">
                                <div class="grand-totall">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                                    </div>
                                    <h5>Total price <span id="totalPrice">&#8377; <%= totalPrice %></span></h5>
                                    <div class="total-shipping">
                                        <!-- <h5>Total shipping</h5>
                                        <ul>
                                            <li><input type="checkbox"> Standard <span>$20.00</span></li>
                                            <li><input type="checkbox"> Express <span>$30.00</span></li>
                                        </ul>
                                    </div> -->
                                    <h4 class="grand-totall-title">Grand Total <span id="GrandTotal">&#8377; <%= totalPrice %></span></h4>
                                    <a href="/shoppingCart/toCheckout">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <%- include('../partials/footer.ejs') %>
     

        <script>
            function updateCart(operation, prodId, spanID) {
                let quantity = document.getElementById(spanID)
                let parsedQuantity = parseInt(quantity.innerText)
        
                let minQuantity = 1;
                let maxQuantity = parseInt(quantity.dataset.maxQuantity);
        
                maxQuantity = Math.min(maxQuantity, 10);
        
                if (operation == 1 && parsedQuantity < maxQuantity) {
                    parsedQuantity++
                } else if (operation == -1 && parsedQuantity > 1) {
                    parsedQuantity--
                }
                quantity.innerText = parsedQuantity
                
                console.log(maxQuantity+'mq');
                console.log(parsedQuantity+'pq');
                ajaxConnection(parsedQuantity, prodId, spanID)
        
                //btn dis
                var plusBtn = document.getElementById(`${spanID}plus`)
                var minusBtn = document.getElementById(`${spanID}minus`)
                plusBtn.disabled = true
                minusBtn.disabled = true
        
                if (!parsedQuantity === 1) {
                    plusBtn.disabled = true;
                } else {
                    plusBtn.disabled = false;
                }
        
                if (!parsedQuantity == 10 || !parsedQuantity == maxQuantity) {
                    minusBtn.disabled = true;
                } else {
                    minusBtn.disabled = false;
                }
                //making error msg
        
                let messageElement = document.getElementById(`${spanID}msg`);
        
        
                if (parsedQuantity == 10) {
                    messageElement.innerText = "Max quantity reached";
                } else if (parsedQuantity == maxQuantity) {
                    messageElement.innerText = "Stock limit reached"; 
                } else {
                    messageElement.innerText = ""
                }
            }
        
        
            //ajax
            function ajaxConnection(amt, prodId, spanID) {
                $.ajax({
                    method: 'put',
                    url: '/updateCart',
                    data: { amt, prodId },
                    success: (res) => {
                        if (res.status == true) {
                            // console.log(res.data.totalSingle);
                            $(`#total${spanID}`).html(`₹${res.data.totalSingle}`)
                            $(`#totalPrice`).html(`₹${res.data.totalPrice}`)
                            $(`#GrandTotal`).html(`₹${res.data.totalPrice}`)
                            
                            // $(`#totalDiscount`).html(`-₹${res.data.totalDiscount}`)
                            // $(`#amount`).html(`₹${res.data.totalPrice - res.data.totalDiscount}`)
        
                            document.getElementById(`${spanID}plus`).disabled = false
                            document.getElementById(`${spanID}minus`).disabled = false
        
                        } else if (res.status == false) {
                            $(`#${spanID}msg`).html(res.data)
                        }
                    }
                })
            }
        </script>

        <%- include('../partials/script.ejs') %>